/* global */
.contant-flex {
  display: flex;
}

/* tob-bar */

/* side-bar */
.side-bar {
  border-right: 1px solid #cbcc9c;
  width: 20%;
  height: 100vb;
  padding: 20px;
}
.item-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px;
}
.item-link:hover {
  background-color: #a0c8cf;
  border-radius: 12px;
}
.active {
  background-color: #a0c8cf;
  border-radius: 12px;
}
/* table */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr:nth-child(even) {
  background: #f1f7f8;
}
th,
td {
  border: 1px solid #a0c8cf;
  padding: 0.75rem;
  text-align: center;
}
th {
  background: #74afb9;
  color: #fff;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fa-solid {
  color: #183153;
  margin-right: 10px;
}
