* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
}
.shadow {
  box-shadow: 1px 1px 10px 1px #cbcc9c;
}
.p-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  padding: 0 90px;
  margin: 0 auto;
}
/* Header */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
